<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <add key="NuGet" value="http://www.nuget.org/api/v2/" />
    <add key="V3" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="./Packages" />
    <add key="PackagesConfigDirectoryPath" value="." />
    <add key="DefaultPushSource" value="http://www.nuget.org/api/v2/" />
    <add key="verbose" value="true" />
    <add key="slimRestore" value="true" />
    <add key="ReadOnlyPackageFiles" value="false" />
  </config>
</configuration>
