<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="http://www.nuget.org/api/v2/" />
    <add key="WWHS" value="https://wwhs.pkgs.visualstudio.com/_packaging/wwhs/nuget/v2/" />
  </packageSources>
  <disabledPackageSources>
    <add key="NuGet" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <WWHS>
      <add key="clearTextPassword" value="%VSTS_TOKEN%" />
    </WWHS>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="./Packages" />
    <add key="DefaultPushSource" value="http://www.nuget.org/api/v2/" />
  </config>
</configuration>