<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local" value="D:\NuGet" />
  </packageSources>
  <activePackageSource>
    <add key="Local" value="D:\NuGet" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  <config>
    <add key="repositoryPath" value="..\Packages" />
    <add key="DefaultPushSource" value="D:\NuGet" />
  </config>
</configuration>