<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="http://www.nuget.org/api/v2/" />
    <add key="SimpleName" value="localhost" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <SimpleName>
      <add key="userName" value="username" />
      <add key="clearTextPassword" value="password" />
    </SimpleName>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="./Packages" />
    <add key="DefaultPushSource" value="http://www.nuget.org/api/v2/" />
    <add key="ReadOnlyPackageFiles" value="false" />
  </config>
</configuration>